# .env создавать в корне

# Адрес сервера дневника
SERVER_URL='https://sgo.rso23.ru'

# Порт этого сервера
#PORT=3003    # по умолчанию 3003

# База данных
DATABASE_HOST='gd72'
DATABASE_PORT=5432
DATABASE_NAME='ddb'
DATABASE_USERNAME='gd72'
DATABASE_PASSWORD='b1s2'
ENCRYPT_KEY='b1s2'

POSTGRES_USER=postgres
POSTGRES_PW=postgres
POSTGRES_DB=diary
